:root{
    --brown:#655;
    --black:#333;
    --white:#f2f2f2;
}
body, html{
    margin:0;
    padding:0;
    font-weight:400;
    line-height: 1.5em;
    font-family: 'Roboto Condensed','Microsoft JhengHei', sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width:1170px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
*[data-lan]{
    text-transform: capitalize;
}
/*navbar**************************************************************************************************************/
nav{
    background: var(--black);
    position: fixed;
    width: 100%;
    z-index: 9;
    /* box-shadow: 0px 1px 10px #999; */
}
nav .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: 0;
}
nav .hamburger{
    display: none;
    height: 37px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
nav .hamburger *[class*='bar'] {
    width: 20px;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    transition: all .2s;
}
.navItem-container, .language-container{
    display: flex;
    padding: 0;
}


nav li{
    color: #fff;
    list-style-type: none;
    padding: .6em 1.7em;
    padding: 5px 20px;
    border:2px solid var(--brown);
    border-radius: 25px;
    cursor: pointer;
    margin:auto 5px;
    text-align:center;
    font-weight: 200;
    box-sizing: border-box;
}
nav li:hover{
   color:#f2f2f2; 
   border:2px solid grey;
   transition: all .25s;
}

/*cover letter*******************************************************************************************************************************************************/
.pimg1{
    background-image: url("https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=60");
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    width:100%;
    padding-top: 1.5em
}
.section{
    font-size: 1.2rem;
    padding: 30px 20px;
}
.section:hover h2{
    text-shadow: 0 0 3px var(--white), 0 0 5px var(--black);
    color:var(--black)
}
.coverletter {
    padding-top: 76px;
}
h2{
    text-align: center; color:var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--brown);
    transition: 2s;
}
.coverletter, .projects{
    background:#f2f2f2;
    color:#333;
}
.coverletter li {
    list-style: none;
    margin-bottom: .5rem;
}
.id-photo {
    width: 280px;
    float: left;
    margin: 0 1.5rem 0 0;
    position: relative;
}
.id-photo img {
    height: initial;
}
.arrow:after {
    opacity: 0;
    outline: none;
}
.arrow {
    border: .3rem solid var(--brown);
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(45deg);
    border-left: 0;
    border-bottom: 0;
    opacity: .6;
    outline: none;
}
.prev {
    transform: rotate(230deg);
    margin-right: 5px;
}
.arrow:hover {
    opacity: 1;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active {
    background: var(--brown)
}

/*skills*************************************************************************************/
h3{
    border-bottom: 3px solid var(--brown);
    padding:12px;
    margin-bottom: 15px;
    word-break: keep-all;
}
.skills {
    background-color: rgba(0,0,0,0.5);
    color: var(--white);
    transition: all .2s;
}
.skills:hover{
    background-color: rgba(225, 225, 225, .5);
    color: var(--black);
}
.skills ul:not([data-list*='des']){
    display: flex;
    justify-content: center;
    cursor: unset;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}
.skills ul:not([data-list*='des']) li{
    margin:5px;
    display: inline-block;
    background:var(--brown);
    background: linear-gradient(transparent, var(--brown), transparent);
    width: fit-content;
    opacity:1;
    list-style-type: none;
    border-radius: 25px;
    margin: auto 5px;
    text-align: center;
    margin-bottom: 1rem;
    transition: all 5s;
}
.skills:hover ul:not([data-list*="des"]) {
    font-weight: 900;
}
.skills .description{
    width:100%;
}

/*project***************************************************************************/
.projects img {
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  top:-2px;
  left:2px;
}
.card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card .description{
    background: var(--brown);
    flex-grow: 1;
    margin: 0;
    padding-bottom: .5em;
    padding-right: 1em;
}
.card .title{
    background:var(--black);
    padding: .5rem;
        font-weight: 900;
    text-align: center;
    color: var(--white)
}
.card *{
    text-decoration: none;
    color:#000;
    font-size: 1.2rem;
}
i{
    padding:5px;
}
.clone {
    position: absolute;
    visibility: hidden;
}
#topBtn{
    background:var(--black);
	position: fixed;
    bottom: 1rem;
    right: 1rem;
	z-index: 99;
    cursor:pointer;
    width:60px;
    height:60px;
    text-align: center;
    color:#f2f2f2;
    border-radius: 50%;
    opacity:0.7;
    transition: all .2s;
    box-shadow: 0px 1px 10px #999;
}
#topBtn:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: .9rem solid var(--white);
    top: calc(50% + 7.5px);
    left: 50%;
    transform: translate(-50%, -51%) rotate(45deg);
    border-bottom: 0;
    border-right: 0;
    border-radius: 15px;
}
#topBtn:hover {
    opacity: 1;
    background: var(--black);
}

/*contact from^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.contact form{
    background-color: var(--white);
    opacity:0.72;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 9%;
}
.contact input, .contact textarea {
    padding: 1.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1.5%;
    box-sizing: border-box;
    font-size: 1.2rem;
    outline: none;
    -webkit-appearance: none;
    font-family: 'Roboto Condensed','Microsoft JhengHei', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: var(--brown)
}
.contact textarea{
    resize: vertical;
}
.contact input[type=submit] {
    background-color: #f2f2f2;
}
.alert {
    width: 100%;
    position: relative;
    height: 0;
}
.alert-active {
    opacity: 1 !important;
}
.contact .alert > div {
    border-radius: 5px;
    background: #79c879;
    color: var(--white);
    text-align: center;
    transition: all 1.2s;
    font-weight: 900;
    width: 100%;
    padding: 1.5%;
    box-sizing: border-box;
    opacity: 0;
}
.contact .alert-ng{
    background-color: #c87979 !important;
    position: absolute;
    top: 0;
} 

.contact .check-number{
    display: flex;
    justify-content:center;
    font-weight: 500px;
    align-items:center;
    width:62px;
}
.contact .sum{
    border:var(--brown) 1px solid;
    flex-grow:0;
    font-size: 1.5rem;
    text-align: center;
    width:90px;
}
img[src*="github"]{
    width:3.7rem;
    float:right;
    transition: all .2s;
}
img[src*="github"]:before {
    content:"";
    width:20px;
    height: 5px;
    display: block;
    position: absolute;
}
img[src*="github"]:hover {
    margin-top: -1rem;
}
.contact .icons{
    text-align: center;
    margin-bottom: 1rem;
}
.contact a {
    font-size: 0;
}
/* .loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--brown);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.loader {
    border: 32px solid #f3f3f3;
    border-radius: 50%;
    border-top: 32px solid tomato;
    border-bottom: 32px solid #4b878bff;
    max-width: 200px;
    max-height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: calc((100vh / 2 - 100px - 1em - 32px));
    width: 60%;
    height: 60%;
}
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */


/*others^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

@media only screen and (min-width: 500px){
    .contact img[src*="phone"], .contact img[src*="sms"]{
        display: none;
    }
}


@media only screen and (max-width: 790px){
    section:not(.coverletter) {
        padding: 10px 20px !important;
    }
    .coverletter {
        padding-top: 50px;
    }
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .contact i {
        line-height: unset;
    }
    .projects h3 {
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    .navbar .hamburger{
        display: flex;
    }
    .language-container{
        justify-content: flex-end;
        width: 100%;
        z-index: 999;
        background: var(--black);
    }
    .navItem-container{
        flex-direction: column;
        width: 100%;
        order: 3;
        position: relative;
        transition: .5s;
        padding: 0;
        margin: 0;
        margin-top: -300%;
    }
    .navItem{
        border-radius:0;
        border-left:0;
        border-right:none;
        border-bottom:none;
        margin:0;
        background: var(--black)
    }
    .navItem:hover{
        border-right:0;
        border-left:0;
    }
    .id-photo {
        width: 200px;
    }
    h3 {
        margin-top: 0;
    }
    .language-container, .navItem-container .navItem {
        padding: .5em 1em
    }
}


@media only screen and (max-width: 500px){
    li, i[class*="paw"], div, input, textarea{
        font-size: .9rem !important;
    }
    img[src*="github"] {
        margin: 1rem 1rem 0 0;
    }
    .next {
        right: 1em;
        left: unset !important;
    }
    .arrow {
        position: absolute;
        left: 1em;
        top: 50%;
        width: 20px;
        height: 20px;
    }
    .card .description{
        height:auto;
    }
    .projects h3{
        width:95%;
    }
    ul[data-list*="description"]{
        padding-left: 1rem;
    }
    .contact i {
        font-size: 2rem !important;
    }
    form {
        position: relative;
    }
    .alert {
        position: absolute;
    }
    .contact .alert > div {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section:not(.coverletter) {
        padding-bottom: 11% !important;
    }
}

/*classList/////////////////////////////////////////////////////////////////////////////*/
.show{
    display:block;
    transition:5s all;
}
.drop-down {
    margin-top: 0;
}
.active{
   background:var(--brown);
   border:2px solid grey;
}
.submit{
    background:var(--brown) !important;
    color:#f2f2f2 !important;
    background: green;
    font-weight: 900;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}
.card {
    position: relative;
}
  *[class*="paw"] {
      display: flex;
  }
  *[class*="paw"] li {
      margin-left: .5rem;
      list-style: none;
      font-family: 'Roboto Condensed','Microsoft JhengHei', sans-serif;
      font-weight: 500;
  }
  *[class*="paw"] li:hover {
      font-weight: 900;
  }
  .contact img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
  }
  .contact img:hover {
    transform: scale(1.2) !important;
    transition: .2s;
  }

/* iphone */
  input, button {
    outline: none;
    -webkit-appearance: none;/*remove safari default setting*/
    -moz-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    border-style: solid;
    }


.cards-div {
    display: grid;
    grid-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) ;
    grid-auto-flow: dense;
}

.card {
    display: flex;
    flex-direction: column;
}
.card .year {
    margin: 0;
    text-align: right;
    font-size: 16px;
}
